POSTGRES_DB=kaosgdd_brain
POSTGRES_USER=kaosgdd_brain
POSTGRES_PASSWORD=replace-with-a-long-random-secret
BRAIN_DB_CONNECT_TIMEOUT_SECONDS=5
BRAIN_DB_STARTUP_ATTEMPTS=20
BRAIN_DB_STARTUP_DELAY_SECONDS=1.5
BRAIN_UPSTREAM_TIMEOUT_SECONDS=30
